<div class="center jumbotron">
    <h1>Welcome to the Strikingly Chat</h1>

    <h2>
        This is the home page for the
        <a href="#">Strikingly Chat</a>
        application.
    </h2>
    <ul>
        默认用户：
        <li>Dafeng: dafeng@strikingly.com</li>
        <li>Daniel: daniel@strikingly.com</li>
        <li>Joyce: joyce@strikingly.com</li>
        <li>Tyler: tyler@strikingly.com</li>
        <li>Xiaoyu: xiaoyu@strikingly.com</li>
        <li>Batman: batman@strikingly.com</li>
        密码： password
    </ul>
    <!-- <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %> -->
</div>

<%= link_to image_tag("/", alt: "Strikingly logo"),
            '#' %>