<%= cache message do %>

<%= message.content %>
    <!-- <div class="message media" id="chat-message-<%= message.id %>"> -->
    <div class="media-body">

        <!-- <br/> -->
       
    </div>
<% end %>