<form>
  <lable>Say something:</lable><br>
  <input type="text" data-behavior="room_speaker">
</form>

<form id='form-sign'>
    <div class="form-group" id="my-form-">
      <textarea class="form-control" placeholder="Your reply here..." id="exampleTextarea" rows="3"></textarea>
      <br/>
      <button class="btn btn-primary" type="submit" data-behavior="room_speaker">Reply</button>
    </div>
</form>