<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h4>My Messages</h4>
      <hr/>

      <a href="#" class="media active-message">
        <img class="d-flex mr-3" src="https://robohash.org/4.png?set=set3" width="64" />
        <div class="media-body">
          <strong>Message title</strong><br/>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
        </div>
      </a>
      <hr/>

      <a href="#" class="media">
        <img class="d-flex mr-3" src="https://robohash.org/4.png?set=set3" width="64" />
        <div class="media-body">
          <strong><span class="badge badge-primary">Unread</span> Message title</strong><br/>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
        </div>
      </a>
      <hr/>

      <a href="#" class="media">
        <img class="d-flex mr-3" src="https://robohash.org/4.png?set=set3" width="64" />
        <div class="media-body">
          <strong>Message title</strong><br/>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
        </div>
      </a>

    </div>
    <div class="col-md-8">
      <h5>Chat with Daniel</h5>
      <hr/>
      <div class="media">
        <img class="d-flex mr-3" src="https://robohash.org/4.png?set=set3" width="64" />
        <div class="media-body">
          <strong>Robot said:</strong> <small class="text-muted">(10 minutes ago)</small><br/>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
        </div>
      </div>
      <br/>
      <div class="media">
        <img class="d-flex mr-3" src="https://robohash.org/7.png?set=set3" width="64" />
        <div class="media-body">
          <strong>You said:</strong> <small class="text-muted">(10 minutes ago)</small><br/>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
        </div>
      </div>
      <hr/>

      <form action="">
        <div class="form-group">
          <textarea class="form-control" placeholder="Your reply here..." id="exampleTextarea" rows="3"></textarea>
          <br/>
          <button class="btn btn-primary" type="submit">Reply</button>
        </div>
      </form>

    </div>
  </div>
</div>
